/* Input/buttons */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    position: center;
    display: inline-block;
    border: #111111;
    padding: 6px 3px;
    background: #eeeeee;
    color: #000000;
    font-size: 1rem;
    width: 100%;
}

button:hover,
button:focus {
    background: #aaaaaa;
}
/* End input/buttons */

/* Tables */
table {
    width: 100%;
    position: center;
}

th {
    position: center;
    display: inline-block;
    border: none;
    padding: 6px 0;
    width: 100%;
    background: #eeeeee;
    color: #000000;
    font-size: 1rem;
}
/* End tables */

/* Body */
body {
    min-width: 480px;
    max-width: 100%;
    position: relative;
    vertical-align:middle;
    margin: auto;
    border: 3px solid #000000;
    padding: 10px;
}
/* End body */

/* Headers */
h3 {
    position: center;
    text-align: center;
}

h4 {
    position: center;
    text-align: center;
}
/* End headers */